<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true"   allow-return-values="true">
  <test name="API Test Suite"  allow-return-values="true" >
    <classes>
    <class name="testscripts.TC001_GET_WeatherInfo" />
    <class name="testscripts.TC002_POST_CustomerInfo" />
      <class name="testscripts.TC003_GET_GoogleMapsInfo"/>
      <class name="testscripts.TC004_GET_ValidatingJSONResponse" />
      <class name="testscripts.TC005_GET_ExtractValuesOfEachNodeInJSON" />
      <class name="testscripts.TC006_PreemtiveAuthorization" />
       <class name="testscripts.TC007_GET_AllUsers" />
        <class name="testscripts.TC008_GET_SingleUser" />
         <class name="testscripts.TC009_OAuth2_Demo" />
         
      
      
   </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->